* {
box-sizing: border-box;
margin:0;
padding: 0;
}
h1 {
	text-align: center;
	margin-bottom: 50px;
}
.row section {
	float: left;
}
.container {
	margin: 10px;
	padding: 5px;
	position: relative;
	border: black 3px solid;
}

.container-title1, .container-title2, .container-title3 {
	position: absolute;
	top:0;
	right:0;
	border-left:black solid 2px;
	border-bottom:black solid 2px;
	padding: 2px 6px;
}
.container-title1 {
	background-color: red;
}
.container-title2 {
	background-color: yellow;
	color: black;
}
.container-title3 {
	background-color: purple;
}
.row section p {
	margin-top: 30px;
}

.container {
	background-color: grey;
	color: white;
}

@media (min-width: 992px) {
	.col-lg-4 {
		width: 33.3%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		width: 50%
	}

}
